# Byte-compiled / optimized / DLL files
__pycache__/

# Visual Studio Code
.vscode/

# Data
data/

# Unit test / coverage reports
.coverage
.coverage.*
.cache

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/