# Fast API Service
fastapi
pydantic
pydantic-settings
httpx

# MCP
mcp

# Postgres
asyncpg
pgvector
sqlalchemy[asyncio]
alembic

# Data
polars
rapidfuzz

# Testing
pytest
pytest-asyncio
pytest-cov
testcontainers[postgresql]
