# Fast API Service
fastapi
starlette>=0.20.0
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
httpx

# MCP
mcp

# Postgres
asyncpg

# ClickHouse
clickhouse-connect[async]

# Redis
redis[hiredis]

# Solace
solace-pubsubplus

# Data
polars
pyarrow

# Testing
pytest
pytest-asyncio
pytest-cov
testcontainers[postgresql]
testcontainers[clickhouse]
testcontainers[redis]
